.train {
    margin: 1rem;
    max-width: 300px;
}

.train ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.train .seats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.train .seat {
    color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.28571428571429%;
    flex: 0 0 14.28571428571429%;
    padding: 5px;
    position: relative;
}

.train .seat:nth-child(2) {
    margin-right: 14.28571428571429%;
}

.train .seat input[type=radio] {
    position: absolute;
    opacity: 0;
}

.train .seat input[type=radio]:checked+label {
    background-image: url("../images/seat-icon-18-green.png");
}

.train .seat input[type=radio]:disabled+label {
    background-image: url("../images/seat-icon-18-red.png");
}

.train .seat input[type=radio]:disabled+label:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
}

.train .seat label {
    display: block;
    position: relative;
    width: 100%;
    min-width: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background-image: url("../images/seat-icon-18.png");
    border-radius: 5px;
}

.train .seat label:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 0px 2px #5C6AFF;
    box-shadow: 0 0 0px 2px #5C6AFF;
}