@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body>* {
    margin: 2rem;
    font-family:'poppins', sans-serif
}

nav {
    margin: 0rem;
}

.center {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.right {
    display: flex;
    justify-content: right;
    margin: 1rem 1rem 1rem 1rem;
}