<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/css/homepageadm.css">

  <title>Home Page</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body>


  <ul id="menu">

    <button onclick="history.back()" class="buttonback"><i class="fa fa-angle-double-left"></i> Go Back</button>

    <li>
      <input id="check01" type="checkbox" name="menu" />
      <label for="check01" class="navbar">
        <div class="form-title2">
          <div class="user-icon2 gr-bg2">
            <i class="fa fa-user" aria-hidden="true"></i>

          </div>
          <div>{{username}}
          </div>
        </div>

      </label>



      <ul class="submenu">
        <li><a href="ManagerDashboard.html">Home</a></li>
        <li><a href=" {{  url_for('logout_manage.logout' ) }}">Logout</a></li>
      </ul>
    </li>
    </lable>
  </ul>



  <!--                                         -->
  <div class="package-container">

    <div class="package-container">

      <div class="packages">
        <a href="{{ url_for('reserve_ticket.reserve') }}" class="button button1">
          <div class="package">Reserve Ticket</div>

        </a>
      </div>
      <div class="packages">
        <a href="ticket_manage" class="button button3">
          <div class="package">Tickets Management</div>
        </a>
      </div>
      <div class="packages">
        <a href="Show_Schedule" class="button button3">
          <div class="package">Show Schedule</div>
        </a>
      </div>
    </div>
    </div>



  </div>


</body>

</html>