<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/forlogin.css">

    <title> Index </title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
    <div class="codehim-form">
        <div class="form-title">
            <h2> Capitol Transportation</h2>
            <a href="{{  url_for('login_manage.login') }}" class="btn-login  gr-bg"> Login </a>
            <a href="/register" class="btn-login  gr-bg"> Register </a>
            <a href="/schedule" class="btn-login  gr-bg"> View Schedule </a>
        </div>
    </div>
</body>

</html>