<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href= "../static/css/forlogin.css"> 
<link rel="stylesheet"  href= "../static/css/homepageadm.css"> 

  <title>Login</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

   <ul id="menu">
      
      <button onclick="history.back()" class="buttonback" ><i class="fa fa-angle-double-left"></i> Go Back</button>
  
     
        <label for="check01" class = "navbar">
         


    <form class="codehim-form" action="/login" method="POST">
        <div class="form-title">
           <div class="user-icon gr-bg">
            <i class="fa fa-user" aria-hidden="true"></i>
           </div>
           <h2>Login</h2>
        </div>
        <label for="email"><i class="fa fa-envelope"></i> Email:</label>
        <input type="email" id="email" name="email" class="cm-input" placeholder="Enter your email adress">
        <label for="pass"><i class="fa fa-lock"></i> Password:</label>
        <input id="pass" name="password" type="password" class="cm-input" placeholder="Enter your password">
        <button type="submit" class="btn-login  gr-bg" ondblclick="myalert()">Login</button>
        <div class = "msg"> <p> {{error}} </p> </div>
     </form>
</body>

</html>
  