<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capitol | Tickets Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <form id="edit" action="{{ url_for('edit_ticket.edit') }}" method="post" style="display: none;"></form>
    <form id="remove" action="{{ url_for('ticket_manage.delete_ticket') }}" method="post" style="display: none;"></form>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-dark" style="color:white; border-color: white;" onclick="history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z">
                            </path>
                        </svg>
                        Back
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Tickets Management</h1>
    <hr><br>
    <div class="right">
        <form class="form-inline" method="post" >
            <label class="sr-only" for="ticket-id">Name</label>
            <input type="number" class="form-control mb-2 mr-sm-2" id="ticket-id" placeholder="Ticket ID" name="Ticket_ID">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>
    <div class="center">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="col-md-1" scope="col">Ticket ID</th>
                    <th class="col-md-1" scope="col">Train ID</th>
                    <th scope="col">Reservation Date</th>
                    <th scope="col">Seat No.</th>
                    <th scope="col">Passernger Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                {% for ticket in tickets %}
                    <tr>
                        <th scope="row">{{ ticket[0] }}</th>
                        <td>{{ ticket[3] }}</td>
                        <td>{{ ticket[2] }}</td>
                        <td>{{ ticket[2] }}</td>
                        <td>{{ ticket[2] }}</td>
                        <td>{{ ticket[1] }}</td>
                        <td>
                            <button type="submit" form="edit" value={{ ticket[0] }} name="ticketID" class="btn btn-outline-success btn-sm">Edit</button>
                            <button type="submit" form="remove" value={{ ticket[0] }} name="ticketID" class="btn btn-outline-danger btn-sm">Remove</button>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>